@import '_Common';

.navbar {
  background-color: $color-dark;
  height: 12vh;
}

.container {
  padding: 0 4vw;
}

.toggler {
  background-color: inherit;
  border: unset !important;
  box-shadow: unset;
  align-self: center;
  cursor: pointer;
  padding-left: 5vw;
}

.navItem {
  @include generalNavItem;
}