@import '_Common';

.container {
  background-color: $color-dark;
  padding: 4rem 0rem;
}

.text {
  color: $color-light;
  margin: 0rem 7vw 1.5rem;
}

.titleText {
  @extend .text;
  font-size: xx-large;
}

.logo {
  height: 10vh;
  max-height: 90px;
  min-height: 60px;
}