@import '_Common';

.container {
  @include cardContainer;
  position: relative;
}

.headerCard {
  height: 88vh;
}

.animative {
  padding-bottom: 0;
  transition: padding .5s;

  &:hover {
    padding-bottom: 30px;
  }
}

.text {
  @include cardText;
  margin: 0rem 7vw 1.5rem;

}

.titleText {
  @extend .text;
  font-size: xx-large;
  max-width: 650px;
}

.textBlock {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%);

}