.formTitle {
  font-size: x-large;
}

.formInput {
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #dddddd;
}

.submitButton {
  width: 100%;
  border-radius: 50px;
  margin: 2rem 0rem;
  padding: 0.5rem 2.5rem;
}
